*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
i,
svg{
    pointer-events: none;
}
.kick-pad, .snare-pad, .hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}
.kick-pad{
    background: rgb(218, 166, 142);
}
.snare-pad{
    background: rgb(29, 197, 57);
}
.hihat-pad{
    background: rgb(81, 191, 241);
}
.kick-pad.active{
    background: rgb(241, 56, 10);
}
.snare-pad.active{
    background:  rgb(18, 77, 0);
}
.hihat-pad.active{
    background: rgb(8, 44, 97);
}
.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hihat-track,
.snare-track,
.kick-track{
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 5rem;

}
.kick, .snare, .hihat{
    display: flex;
}
.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}
.controls button{
    padding: 1rem;
    border: none;
    background: rgb(38, 70, 65);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5sec ease;
}
.pad{
    transition: all 0.5sec ease;
}
.play{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(121, 38, 255);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}
select{
    padding:1rem;
    font-size: 1rem;
}
@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}